services:
  db-postgres:
    image: postgres:16-alpine
    container_name: rag-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: mrag
      POSTGRES_USER: mrag
      POSTGRES_PASSWORD: mrag_secret
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  qdrant:
    image: qdrant/qdrant:latest
    container_name: rag-qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage
volumes:

  postgres_data:
  qdrant_storage: